{% extends 'public/templates/public_template.html' %}

{% block title %}Сообщество Pupi{% endblock %}

{% block main %}
  <div class="container">
    Мы команда энтузиастов, которые любят собак и верят в то, что каждый питомец заслуживает любви, заботы и внимания. Мы создали Pupi, чтобы помочь владельцам собак находить идеальных питомцев для своих семей, а также помогать собакам найти заботливых и надежных хозяев.

Наша команда состоит из профессионалов, которые имеют богатый опыт работы в области разработки программного обеспечения, дизайна, маркетинга и управления проектами. Мы убеждены, что комбинация нашей экспертизы и страсти к собакам позволяет нам создавать инновационные решения, которые улучшают жизнь владельцев и собак.

Наша миссия - сделать процесс поиска нового члена семьи максимально удобным и приятным для всех участников. Мы стремимся к тому, чтобы наш сервис был лучшим в своем классе, предоставляя нашим пользователям надежные и качественные решения, которые упрощают их жизнь.

Спасибо, что выбрали Pupi! Мы готовы помочь вам найти идеального друга на все случаи жизни.
  </div>
{% endblock %}